<ul class="list-group">
    @foreach (var x in ProductGroupings)
    {
        <li class="list-group-item">
            <ShowProductGrouping ProductGrouping="@x" IsReadonly="IsReadonly"/>
        </li>
    }
</ul>
