@using BlazorUi.ViewProperties
@inherits ViewsView

<div @attributes="@AdditionAttributes"
     style="@ToString()
            display: flex;
            flex-direction: @Direction.AsString();
            flex-wrap: nowrap;
            justify-content: start; 
            align-content: stretch; 
            justify-items: start; 
            align-items: stretch;">
    @ChildContent
</div>
